.App {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: 40px;
    flex-direction: column;
  }
  .post .body {
    flex: 60%;
    display: grid;
    place-content: center;
  }
  .tr {
    height: 20px;
    flex: 0 0 200px;
    margin-left: 150px;
  }